.App {
  background-color: #2e2e2e;
  display: grid;
  grid-template-rows: auto auto 50px;   
  grid-template-areas: 
  'header'
  'main'
  'footer';
}

.App-header {
  grid-area: header; 
  background-color: black;
  color: white;
  margin: 10px;
}

.App-main {
  min-height: calc(100vh - 130px);
  grid-area: main; 
  background-color: white;
  border-radius: 5px;
  margin: 10px;
  margin-left: 5px;
  padding: 5px;
  box-shadow: 3px 3px gray;
}

.App-footer {
  grid-area: footer; 
  background-color: black;
  color: white;
  display: flex;
}
